.errorValue {
    background-color: red;
}

.successValue {
    background-color: limegreen;
}

.img-overlay {
    position: relative;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50%;
}

.overlay {
    position: absolute;
}

.overlay-wb {
    left: 260px;
    top: 273px;
}

.overlay-L1 {
    left: 500px;
    top: 273px;
}

.overlay-N {
    top: 250px;
    left: 480px;
}

.overlay-L {
    left: 375px;
    top: 17px;
}

.overlay-M {
    top: 260px;
    left: 110px;
}

.overlay-input {
    width: 30px;
    top: 140px;
    left: 122px;
    border: 0;
    font-size: 9px;
    background: transparent;
}

.overlay-input2 {
    width: 30px;
    top: 170px;
    left: 106px;
    border: 0;
    font-size: 8px;
    background: transparent;
}

.overlay-input-kirur {
    width: 300px;
    top: 77px;
    left: 177px;
    border: 0;
    font-size: 12px;
    background: transparent;
}

.overlay-mc {
    left: 365px;
    top: 130px;
}

@media print {
    .errorValue {
        background-color: red;
    !important;
    }

    .successValue {
        background-color: limegreen;
    !important;
    }
}


textarea {
	border: 2px solid #903BB1;
	border-radius: 5px;
    width  : 100%;
    height : 300px;
}


.somestyle {
	color: #903BB1;	
	border: 1px solid #903BB1;
    border-color: #903BB1;	
	margin: 10px;
	padding: 10px;
}


td {
	padding-left: 20px;
	padding-right: 20px;
}

.overlay-wb,
.overlay-L1,
.overlay-L,
.overlay-N,
.overlay-M,
.overlay-mc {  
	margin-top: -10px;
}