<!DOCTYPE html>
<html lang="he" ng-app="strApp" ng-class="{'rtl':Language.isRtl()}" dir="{{(Language.isRtl())?'rtl':'ltr'}}">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <meta name="robots" content="noindex">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"/>
    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-55816873-4', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="js/ls.js"></script>
    <script src="https://rawgit.com/PascalPrecht/bower-angular-translate/master/angular-translate.min.js"></script>
    <script src="https://rawgit.com/PascalPrecht/bower-angular-translate-loader-static-files/master/angular-translate-loader-static-files.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-cookie/2.18.1/angular-translate-storage-cookie.min.js"></script>

</head>
<body>
<div ng-controller="ctrl">
    <section>
        <div class="container-fluid">
            <select ng-model="selectedLanguage" ng-change="changeLanguage()">
                <option value="en" translate="global_language_en"></option>
                <option value="ru" translate="global_language_ru"></option>
                <option value="he" translate="global_language_he"></option>
            </select>
            <div class="d-flex flex-row">
                <p translate="DATE"> </p>
                <p>&nbsp; </p>
                <p> {{ today | date : "yyyy-MM-dd HH:mm" }}</p>
            </div>
            <div class="d-flex flex-row">
                <div class="form-group" role="form">
			<table align="center" width="100%" class="somestyle">
				<tr>
					<td><label for="customer" translate="TITLE"></label></td>
					<td><input focus class="form-control" tabindex="0" id="customer"></td>
					<td rowspan="5">
						<div class="img-overlay">
						<img class="img-responsive" ng-src="{{ img_src }}">
						<p class="overlay overlay-wb"><span ng-bind="tbl1.WB"></span></p>
						<p class="overlay overlay-L1"><span ng-bind="tbl1.L1"></span></p>
						<p class="overlay overlay-L"><span ng-bind="lengthBox"></span></p>
						<p class="overlay overlay-N"><span ng-bind="readDistr"></span></p>
						<p class="overlay overlay-M"><span ng-bind="lengthFromWheel"></span></p>
						<p class="overlay overlay-mc"><span ng-bind="tbl1.MC"></span></p>
						<input class="overlay overlay-input">
						<input class="overlay overlay-input2">
						<label class="overlay overlay-input-kirur">{{tbl2.cirurCalc.name}}</label>
						</div>
					</td>
				</tr>
				<tr>
					<td><label for="lengthBox" translate="BOXLENGTH"></label></td>
					<td><input tabindex="1" focus class="form-control" id="lengthBox" ng-change="calc1()"
						ng-model="lengthBox" type="number" step="10"></td>
				</tr>                        
				<tr>
					<td><label for="lengthFromWheel" translate="FRONTSPACE"></label></td>
					<td><input tabindex="2" focus class="form-control" id="lengthFromWheel" ng-change="calc1()"
						ng-model="lengthFromWheel" ype="number" step="10"></td>
				</tr>                        
				<tr>
					<td><label for="wheelBase" translate="WHEELBASE"></label></td>
					<td><input tabindex="3" focus class="form-control" id="wheelBase" ng-change="calc1()"
						ng-model="wheelBase" type="number" step="10"></td>
				</tr>
				<tr>
					<td><label for="readDistr" translate="REARPART"></label></td>
					<td><input tabindex="4" focus class="form-control" id="readDistr" ng-change="calc1()"
						ng-model="readDistr" type="number" step="10"></td>
				</tr>
				<tr>
					<td colspan="3">
						<table class="table table-bordered table-sm">
							<thead class="thead-light">
							<tr>
								<th scope="col">N-L1</th>
								<th scope="col">0.6.W.B-L1<br><small>מקום לדופן</small></th>
								<th scope="col">0.6.W.B</th>
								<th scope="col">WB</th>
								<th scope="col">L1 <br><small>מקום לדופן</small></th>
								<th scope="col">L אורך ארגז</th>
								<th scope="col">מ.כ.</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>{{tbl1.RD-tbl1.L1|number}}</td>
								<td ng-class="wb06Error ? 'errorValue': 'successValue'">{{tbl1.WB*0.6-tbl1.L1| number: 1}}</td>
								<td>{{tbl1.WB*0.6| number: 1}}</td>
								<td>{{tbl1.WB|number}}</td>
								<td>{{tbl1.L1|number}}</td>
								<td>{{tbl1.LB|number}}</td>
								<td>{{tbl1.MC|number}}</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<style> textarea[name="comment"] { resize: none; } </style>
						<textarea name="comment"></textarea>
					</td>
				</tr>
				<div class="container-fluid" ng-init="calc2()">		
				<tr>
					<td>Cabine</td>
					<td colspan="2">
						<select class="form-control" ng-change="calc2()"
                        ng-model="cabineSel"
                        ng-options="cabine as cabine.name for cabine in cabines | orderBy: 'name'"></select>
						<div class="row" ng-show="cabineSel.editable">
						<div class="col">
                        <label class="form-check-label" for="humans">Humans</label>
                        <input class="form-control" type="number" step="1" min="1" max="10" ng-model="cabineSel.humans"
                               id="humans" ng-change="calc2()">
						</div>
						<div class="col">
                        <label class="form-check-label" for="lengthCabin">L</label>
                        <input class="form-control" type="number" step="1" min="0" ng-model="cabineSel.L"
                               id="lengthCabin" ng-change="calc2()">
						</div>
						</div>
					</td>
				</tr>   
				<tr>
					<td>יח'' קירור</td>
					<td colspan="2">
						<select class="form-control" ng-change="calc2()"
						ng-model="kirurSel" ng-options="kir as kir.name for kir in kirurs | orderBy: 'name'">
						</select>
						<div class="row" ng-show="kirurSel.editable" >
						<div class="col">
                        <label class="form-check-label" for="underCar">UnderCar</label>
                        <input class="form-control" type="checkbox"  ng-model="kirurSel.underCar"
                               id="underCar" ng-change="calc2()">
						</div>
						<div class="col">
                        <label class="form-check-label" for="kirurSel.mass">Mass</label>
                        <input class="form-control" type="number" step="1" min="0" ng-model="kirurSel.mass"
                               id="kirurSel.mass" ng-change="calc2()">
						</div>
						</div>
					</td>
				</tr> 				
				<tr>
					<td>דופן</td>
					<td colspan="2">
						<select class="form-control" ng-change="calc2()"
                        ng-model="dofenSel" ng-options="dof as dof.name for dof in dofens | orderBy: 'name'"></select>
					</td>
				</tr>
				</div>
				<tr>
					<td colspan="3">
						<table align="center" width="100%" cellspacing="0" cellpadding="5" border="1">
						<thead class="thead-light">
						<tr>
							<th>פרטים</th>
							<th>כללי</th>
							<th>אחורי</th>
							<th>קדמי</th>
						</tr>
						<tr>
							<td><input tabindex="10" focus class="form-control" ng-change="calc2()" ng-model="degem"
									placeholder="degem"
									type="text"></td>
							<td><input ng-class="{ errorValue: degemMassError }" tabindex="11" focus class="form-control"
									ng-change="calc2()" ng-model="degemMass"
									placeholder="all"
									type="number"></td>
							<td><input ng-class="{ errorValue: degemMassBackError }" tabindex="12" focus class="form-control" ng-change="calc2()" ng-model="degemBack"
									placeholder="back"
									type="number"></td>
							<td><input tabindex="13" focus class="form-control" ng-change="calc2()" ng-model="degemFront"
									placeholder="front"
									type="number"></td>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>{{tbl2.cabinCalc.name}}</td>
							<td>{{tbl2.cabinCalc.massSum|number:0}}</td>
							<td>{{tbl2.cabinCalc.back|number:0}}</td>
							<td>{{tbl2.cabinCalc.front|number:0}}</td>
						</tr>
						<tr>
							<td>{{tbl2.cirurCalc.name}}</td>
							<td>{{tbl2.cirurCalc.massSum}}</td>
							<td>{{tbl2.cirurCalc.back|number:0}}</td>
							<td>{{tbl2.cirurCalc.front|number:0}}</td>
						</tr>
						<tr>
							<td>{{tbl2.dofenCalc.name}}</td>
							<td>{{tbl2.dofenCalc.massSum|number:0}}</td>
							<td>{{tbl2.dofenCalc.back|number:0}}</td>
							<td>{{tbl2.dofenCalc.front|number:0}}</td>
						</tr>
						<tr>
							<td>{{tbl2.cargoCalc.name}}</td>
							<td>{{tbl2.cargoCalc.massSum|number:0}}</td>
							<td>{{tbl2.cargoCalc.back|number:0}}</td>
							<td>{{tbl2.cargoCalc.front|number:0}}</td>
						</tr>
						<tr>
							<td>{{tbl2.summCalc.name}}</td>
							<td ng-class="summMassError ? 'errorValue' : 'successValue'">
								{{tbl2.summCalc.massSum|number:0}}
							</td>
							<td ng-class="summBackError ? 'errorValue' : 'successValue'">{{tbl2.summCalc.back|number:0}}
							</td>
							<td ng-class="summFrontError ? 'errorValue' : 'successValue'">{{tbl2.summCalc.front|number:0}}
							</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td>עומס מורשה לפי הוראת רישום: {{degem}}</td>
							<td><input tabindex="14" focus class="form-control" ng-change="calc2()" ng-model="licAll"
									placeholder="all"
									type="number"></td>
							<td><input ng-class="{ errorValue: licBackError }" tabindex="15" focus class="form-control" ng-change="calc2()" ng-model="licBack"
									placeholder="back"
									type="number"></td>
							<td><input tabindex="16" focus class="form-control" ng-change="calc2()" ng-model="licFront"
									placeholder="front"
									type="number"></td>
						</tr>
						</tfoot>
					</table>
					</td>
				</tr>
			</table>
				</div>
            </div>
        </div>
    </section>
</div>
</body>
</html>